@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* Header Section Style */

header,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7 {
  width: 82%;
  margin: 0 auto;
  max-width: 1600px;
}

.bg-header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  width: 1170px;
  height: 600px;
  margin-top: 50px;
  border-radius: 16px;
  text-align: center;
  margin-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.head-paragraph {
  margin-bottom: 16px;
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 177px;
}

.head-h2 {
  width: 632px;
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  margin: 0 auto;
}

/* Main Section Style */

/* Section-1 */

.section-1 {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.sec-1-container {
  margin-bottom: 120px;
}

.sec-1-h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.sec-1-paragraph {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.sec-1-h2-2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

/* Section-2 */
